@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

body { 
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    font-size: 20px;
    color: cyan;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;    
}
